# eebus-go-controlbox_evcc.service
#

[Unit]
Description=eebus-go-controlbox paired with evcc
Requires=network-online.target
After=syslog.target network.target network-online.target
Wants=network-online.target
StartLimitIntervalSec=10
StartLimitBurst=10

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE

# Shared Env Vars
Environment=BIN_FILE=/usr/local/bin/eebus-go-controlbox

Environment=CERT=/etc/ssl/localcerts/eebus-go-controlbox.crt
Environment=KEY=/etc/ssl/private/eebus-go-controlbox.key

# Specific Env Vars
Environment=PORT=4711
Environment=REMOTE_SKI=30787eb7247d335e13bca8eb1bdb828589ef0b24

ExecStart=/usr/local/bin/eebus-go-controlbox $PORT $REMOTE_SKI $CERT $KEY
ExecStop=kill -9 $MAINPID
ExecReload=kill -HUP $MAINPID

#Restart=always
#RestartSec=10

User=root
Group=root

[Install]
WantedBy=multi-user.target