# eebus-go-controlbox-app.service
#

[Unit]
Description=eebus-go-controlbox-app
Requires=network-online.target
After=syslog.target network.target network-online.target
Wants=network-online.target
StartLimitIntervalSec=10
StartLimitBurst=10

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE

# Shared Env Vars
Environment=PREFIX_DIR=/opt/eebus-go-apps/apps/controlbox

ExecStart=/usr/bin/npm run dev --prefix $PREFIX_DIR
ExecStop=kill -9 $MAINPID
ExecReload=kill -HUP $MAINPID

Restart=always
RestartSec=10

User=root
Group=root

[Install]
WantedBy=multi-user.target